CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_UART=y
CONFIG_ESP_CONSOLE_UART_NUM=0
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=n
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG_ENABLED=n
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_TUTORIAL_0067_JS_MEM_BYTES=98304
CONFIG_TUTORIAL_0067_JS_MAX_BODY=8192
CONFIG_TUTORIAL_0067_JS_EVAL_TIMEOUT_MS=250
CONFIG_TUTORIAL_0067_JS_MAX_TIMERS=32
CONFIG_TUTORIAL_0067_MATRIX_DEFAULT_FLIPH=n
CONFIG_TUTORIAL_0067_MATRIX_DEFAULT_FLIPV=y
CONFIG_TUTORIAL_0067_MATRIX_DEFAULT_ROTATE_180=n
