CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
# CONFIG_ESP_CONSOLE_UART is not set
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG_ENABLED=y
CONFIG_ESP_CONSOLE_UART_NUM=-1

CONFIG_SPIRAM=y

CONFIG_CAMERA_XCLK_FREQ=20000000
CONFIG_CAMERA_MODULE_M5STACK_ATOMS3R_CAM=y

CONFIG_SCCB_HARDWARE_I2C_PORT1=y
CONFIG_SCCB_CLK_FREQ=100000
CONFIG_CAMERA_TASK_STACK_SIZE=2048
CONFIG_CAMERA_CORE0=y
CONFIG_CAMERA_DMA_BUFFER_SIZE_MAX=32768
CONFIG_CAMERA_JPEG_MODE_FRAME_SIZE_AUTO=y

CONFIG_ATOMS3R_CAMERA_POWER_GPIO=18
CONFIG_ATOMS3R_CAMERA_POWER_ACTIVE_LOW=y
